.jumbotron {
  padding-top: 5rem;
}
/* Add your styles for the comment modal */
.comment-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.small-modal {
  width: 60%;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.like-button, .comment-button {
  background-color: #EEEEEE;
  color: #000;
  padding: 5px; /* You can adjust this value as needed */
  border: none;
  border-radius: 5px; /* Adjust the radius as needed for the desired amount of rounding */
  cursor: pointer;
  margin-right: 5px;
}

.like-button:hover, .comment-button:hover {
  background-color: #F45050;
}


.dropdown-item:hover {
  background-color: #e9ecef; /* Warna latar belakang yang berubah saat hover */
  color: #495057; /* Warna teks yang berubah saat hover */
}

.img-container {
  margin-bottom: 10px; /* Jarak antara gambar dan tombol */
}

.custom-margin {
  margin-bottom: 5px; /* Atur nilai margin sesuai keinginan Anda */
}
.nama-user-h5 {
  border-bottom: 1px solid #000; /* Warna dan gaya garis yang diinginkan */
  padding-bottom: 10px; /* Jarak antara teks dan garis bawah */
}
.col-2 {
  text-align: center;
}

.col-2 button {
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.label {
  display: block;
}

.first-row {
  margin-bottom: 20px; /* Adjust the margin as needed */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 5px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

